*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(100deg, rgb(0, 195, 255), rgb(0, 147, 192), rgb(0, 110, 255), rgb(0, 0, 255), rgb(0, 0, 182), rgb(0, 0, 124), rgb(0, 0, 94), rgb(0, 37, 22), rgb(0, 58, 34), rgb(0, 100, 58), rgb(0, 168, 98), rgb(0, 238, 139));
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
/*Make the nav menu in line and spaced apart*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{ 
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
}
/*this adds the under line for my navigation menu and makes it invisible*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ff88;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/*This makes the line visible when hovered over */
nav ul li a:hover::after{
    width: 100%;
}
/*Create the font size for my header on my page*/
.header-text{
    margin-top: 40%;
    font-size: 30px;
}
.header-pic{
    margin-top: 15%;
    font-size: 30px;
}
.header-pic img{
    width: 90%;
    border-radius: 40px;
}
.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
/*Chnages the font size for the h1 in my header*/
.header-text h1{
    padding: 10px;
    display: table;
    margin: 0px, auto, 0px, auto;
    font-size: 45px;
    margin-top: 20px;
    color: #fff;
    border-radius: 10px;
}
.header-text p{
    display: table;
    margin: 0px, auto, 0px, auto;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
}

/*chnages the color of what is inside <span>*/
.header-text h1 span{
    color: #00ff88;
}

/*-----------------About-------------------*/
#about{
    padding: 80px 0;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Changes width of left collumn*/
.about-col-1{
    flex-basis: 35%;
}
/*Chnages the size of picture and makes the corners rounded*/
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
/*Changes width of right collumn*/
.about-col-2{
    flex-basis: 60%;
}
/*Change font and size*/
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #00ff88;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}  
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ff88;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00ff88;
    font-size: 17px;
}
.ex-title{
    text-indent: 10px;
    color: #00ff88;
    font-size: 15px;
}
.ex-design{
    text-indent: 25px;
    color: #fff;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------------------Services----------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div:hover{
    background-color: #00ff88;
    transform: translateY(-10px);
}
.services-list div:hover{
    background-color: #00ff88;
    transform: translateY(-10px);
}
.black{
    color: #000000;
}
/*-----------------Portfolio----------------------*/
.sub-title.wor{
    color: #00b5c2;
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgb(0,0,0,0.6), #00b5c2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #00b5c2;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00b5c2;
    background-color: #00b5c2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  transform 0.5s;
}
.btn:hover{
    background-color: #027f88;
    transform: translateY(-5px);
}
/*------------------Contact--------------*/
.sub-title.cont{
    color:#bc7df7;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #bc7df7;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;   
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #bc7df7;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #482469;
    border-color: #341b4b;
    transition: transform 0.5s;
}
.btn.btn2:hover{
    background: #69349b;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #b59dcc;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*
    small screen
*/
nav .fa-solid{
    display: none;
}
#msg{
    color: #fff;
    margin-top: -40px;
    display: block;
}
@media only screen and (max-width: 600px){
    body{
        background-image: linear-gradient(100deg, rgb(0, 195, 255), rgb(0, 147, 192), rgb(0, 110, 255), rgb(0, 0, 255), rgb(0, 0, 182), rgb(0, 0, 124), rgb(0, 0, 94), rgb(0, 37, 22), rgb(0, 58, 34), rgb(0, 100, 58), rgb(0, 168, 98), rgb(0, 238, 139));
        color: #fff;
    }
    #header{
        
        background-size: auto;
        background-position: center;
    }
    .header-text{
        margin-top: 20%;
        font-size: 20px;
    }
    .header-pic{
        margin-top: 10%;
        font-size: 30px;
    }
    .header-pic img{
        width: 100%;
        border-radius: 30px;
    }
    /*Chnages the font size for the h1 in my header*/
    .header-text h1{
        display: table;
        margin: 0px, auto, 0px, auto;
        padding: 10px;
        font-size: 32px;
        margin-top: 20px;
        color: #fff;
        border-radius: 10px;
    }
    .header-text p{
        display: table;
        margin: 0px, auto, 0px, auto;
        padding: 5px;
        color: #fff;
        border-radius: 10px;
    }
    nav .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        color: #000a2c;
    }
    
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        color: #fff;
    }
    nav ul{
        background-color: #000a2c;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 150vh;
        padding-top: 40px;
        z-index: 8;
        transition: right 0.5s
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about-col-1 .sub-title{
        text-align: left;
        font-size: 60px;
        width: 180%;
    }
    .sub-title{
        text-align: center;
    }
    .sub-title.serv{
        font-size: 50px;
    }
    .contact-left .sub-title{
        width: 100%;
        font-size: 35px;
    }
    .about-col-1 p{

        width: 180%;
        font-size: 17px;
    }
    .tab-contents{
        width: 90%;
    }
    .layer{
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0,0,0,0.6), #00b5c2);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 15px;
    }
    .layer h3{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .layer a{
        margin-top: 10px;
        color: #00b5c2;
        text-decoration: none;
        font-size: 15px;
        line-height: 40px;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #00b5c2;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        background: linear-gradient(rgb(0,0,0,0.6), #00b5c2);
        background-color: #00b5c2;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-left p i{
        color: #bc7df7;
        margin-right: 5px;
        font-size: 25px;
    }
    .contact-left p{
        margin-top: 30px;
        font-size: 15px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #bc7df7;
        display: inline-block;
    }
    /*submit button*/
    form .btn.btn2{
        padding: 10px 40px;
        font-size: 18px;
        margin-top: 20px;
    }
    /*Download button*/
    .btn.btn2{
        padding: 10px 40px;
        display: inline-block;
        background: #482469;
        border-color: #341b4b;
        font-size: 18px;
        text-align: center;
    }
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 225%;
        border: 0;
        outline: none;
        background: #b59dcc;
        padding: 10px;
        margin: 10px -40px;
        color: #000000;
        font-size: 18px;
        border-radius: 6px;
    }


}