#about{
    padding: 80px 0;
    min-height: 700px;
    max-height: 1000px;
    width: 85vw;
    margin: 0 auto;
    max-width: 1850px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Changes width of left collumn*/
.about-col-1{
    text-align: center; 
    font-size: 20px;
}
/*Chnages the size of picture and makes the corners rounded*/
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
/*Changes width of right collumn*/
.about-col-2{
    flex-basis: 60%;
}
/*Change font and size*/
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}  
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 30px;
}
.ex-title{
    text-indent: 10px;
    font-size: 15px;
}
.ex-design{
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 