#contact{
    width: 85vw;
    margin: 0 auto;
    max-width: 1850px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 30px;   
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    transition: transform 0.5s;
}
.btn .btn2 .new a{
    position: relative;
    top: 455px;
}
.btn.btn2:hover{
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}