.sub-title.cont{
    color:#F3F4F6;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0EA5E9;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;   
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #F59E0B;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0EA5E9;
    transition: transform 0.5s;
    filter: drop-shadow(8px 8px 10px #374151);
}
.btn .btn2 .new a{
    position: relative;
    top: 455px;
}
.btn.btn2:hover{
    background: #F59E0B;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #1F2937;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px #374151);

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}
input{
    color: #F3F4F6;
}
input::placeholder{
    color: #F3F4F6;
}
textarea{
    color: #F3F4F6;
}
textarea::placeholder{
    color: #F3F4F6;
}