nav .fa-solid{
    display: none;
}
#msg{
    color: #027f88;
    margin-top: -40px;
    display: block;
}

.custom-shape-divider-bottom-1715634999 {
    position: relative;
    margin-bottom: 0px;
    margin-top: -45px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715634999 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
}

.custom-shape-divider-bottom-1715634999 .shape-fill {
    fill: #027f88;
}


.custom-shape-divider-bottom-1715635812 {
    position: relative;
    bottom: 84px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715635812 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
}

.custom-shape-divider-bottom-1715635812 .shape-fill {
    fill: #ababab;
}


.custom-shape-divider-bottom-1715636093 {
    position: relative;
    bottom: 1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1715636093 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
}

.custom-shape-divider-bottom-1715636093 .shape-fill {
    fill: #ababab;
}