#header{
    position: relative;
    width: 85vw;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    max-height: 800px;
    max-width: 1850px;
    margin: 0 auto;

}
.container{
    padding: 10px 2%;

}
nav{
    position: fixed;
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
    max-width: 1750px;
}
.logo{
    width: 140px;
    filter: drop-shadow(8px 8px 10px #374151);
}
.sidemenu{
    display: flex;
    justify-content: right;
}
/*Make the nav menu in line and spaced apart*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{ 
    text-decoration: none;
    font-size: 18px;
    position: relative;
    border-radius: 25px;
    padding: 10px 15px;
    
}
/*this adds the under line for my navigation menu and makes it invisible*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/*This makes the line visible when hovered over */
nav ul li a:hover::after{
    width: 100%;
}
/*Create the font size for my header on my page*/
.header-text{
    margin-top: 40%;
    font-size: 30px;
    margin-right: 100px;
    text-align: center;
}
.header-pic{
    margin-top: 15%;
    font-size: 30px;
}
.header-pic img{
    width: 90%;
    border-radius: 40px;
    max-width: 500px;
}
.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-left: 12.5%;
}
/*Chnages the font size for the h1 in my header*/
.header-text h1{
    padding: 10px;
    display: table;
    margin: 0px, auto, 0px, auto;
    font-size: 45px;
    border-radius: 10px;
}
.header-text p{
    display: table;
    margin: 0px, auto, 0px, auto;
    border-radius: 10px;
}
