@media only screen and (max-width: 600px){
    html{
        overflow-x: hidden;
    }
    #header{
        width: 100vw;
        margin-left: 0;
    }
    nav{
        display: none;
    }
    .logo{
        display: none;
    }
    .header-text{
        width: 75vw;
        margin-top: 5%;
        font-size: 20px;

    }
    .header-pic{
        margin-top: 5%;
        font-size: 30px;
    }
    .header-pic img{
        width: 90%;
        border-radius: 30px;
    }
    /*Chnages the font size for the h1 in my header*/
    .header-text h1{
        display: table;
        margin: 0px, auto, 0px, auto;
        padding: 10px;
        font-size: 26px;
        margin-top: 5px;
        border-radius: 10px;
    }
    .header-text p{
        display: table;
        margin: 0px, auto, 0px, auto;
        border-radius: 10px;
    }
    .about-col-1 .sub-title{
        text-align: center;
        font-size: 50px;
    }
    li{
        font-size: 14px;
    }
    .sub-title{
        text-align: center;
    }
    .tab-contents ul li span{
        font-size: 20px;
    }
    .sub-title.serv{
        font-size: 40px;
    }
    .contact-left .sub-title{
        width: 100%;
        font-size: 35px;
    }
    .about-col-1 p{
        width: 100%;
        font-size: 12px;
    }
    .about-col-2{
        width: 90%;
    }
    .tab-contents{
        width: 90%;
    }
    .layer{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        font-size: 15px;
    }
    .layer h3{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .layer a{
        width: 40px;
        height: 40px;
    }
    .layer i{
        font-size: 20px;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 20px;
        color: F3F4F6;
    }
    #contact{
        width: 80vw;
        text-align: center;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        display: inline-block;
    }
    /*submit button*/
    form .btn.btn2{
        padding: 10px 40px;
        font-size: 18px;
        margin-top: 20px;
    }
    /*Download button*/
    .btn.btn2{
        padding: 10px 40px;
        display: inline-block;
        font-size: 18px;
        text-align: center;
    }
    .contact-right form input, .contact-right form textarea{
        width: 85vw;
        border: 0;
        outline: none;
        padding: 10px;
        margin: 10px -5vw;
        font-size: 18px;
        border-radius: 6px;
    }
    form .btn2{
    padding: 14px 10px;
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
    }
    .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 0px;
    }
    .btn.btn2:hover{
    transform: translateY(0px);
    }
    .social-icons a:hover{
    transform: translateY(0px);
    }
    .btn:hover{
    transform: translateY(0px);
    }
    .layer a:hover{
    transform: translateY(0px);
    }
    .work:hover img{
    transform: scale(1);
    }

}