.sub-title.wor{
    color: #0EA5E9;
}
#portfolio{
    padding: 50px 0;
    margin-top: -86px;
    padding-top: 100px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background: #F3F4F6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #0EA5E9;
    filter: drop-shadow(8px 8px 10px #374151);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  transform 0.5s;
}
.btn:hover{
    background-color: #F59E0B;
    transform: translateY(-5px);
}