#portfolio{
    padding: 50px 0;
    padding-top: 100px;
    width: 85vw;
    margin: 0 auto;
    max-width: 1850px;
}
.sub-title.wor{
    cursor: default;
    text-align: center; 
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition:  transform 0.5s;
}
.layer a:hover{
    transform: translateY(-5px);
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition:  transform 0.5s;
}
.btn:hover{
    transform: translateY(-5px);
}