#services{
    padding: 30px 0;
    margin-top: -85px;
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
}
.sub-title.serv{
    cursor: default;
    text-align: center; 
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor:default;
    min-height: 412px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 18px;
}
.services-list div:hover{
    transform: translateY(-10px);
}
